@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    /* font-family: 'Nova Mono', monospace; */
    
}

.caladea-font {
  font-family: 'Caladea', serif;
  letter-spacing: 0.75px;
}

.bold {
  font-weight: bold;
}

.navColor {
  background: #212529;
  transition: background-color 0.5s ease-out;
}

.navTransparentOpen {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  background-color: "rgba(0, 0, 0, .70)";
  transition: background-color 0.5s ease-out;
}

.navTransparent { 
  background: transparent;
  transition: background-color 0.5s ease-out;
}

.bledMultiply {
  mix-blend-mode: multiply;
}

.cursor-pointer{
  cursor: pointer;
}

.dotted-border {
  border-bottom: 2px dotted gray;
  /* content: "0"; */
  width: 100%;
}

.dotted-border::before{
  content: "\200B";
}